%h1= @article.title
.evaluate-title
  = render partial: 'evaluate_title'

.row
  .content.span9
    = sanitize @article.content

  #marker-comments.span3

.row#after-content
  .review-score.span3
    %h4= t('overall_good_or_bad')
    = link_to t('.good'), score_article_review_path(@article, rank: 'good'), class: 'btn btn-large btn-success'
    = link_to t('bad'), score_article_review_path(@article, rank: 'bad'), class: 'btn btn-large btn-danger'

  .span3
    %h4= t('.your_score')
    = @review.final_score

  .span3
    %h4= t('.current_score')
    = @article.score


:javascript
  window.marker_comments = #{ @article.marker_comments.to_json }

.add-comment-marker(style="display:none")
  %h1= t('.add_marker_comment')
  = simple_form_for MarkerComment.new, url: add_marker_comment_article_review_path(@article) do |f|
    = f.input :selection, as: :hidden
    = f.association :content_issues
    = f.input :comment
    = f.submit

